body{
    background-color: #666262;
    margin-top: 20px;
    text-align: center;
    font-family: 'Unica One', monospace;
}
#Timer{
    color: #ffffff;
    font-weight: 300;
    font-size: 20vw;
    width:100%;
}
#mainClock{
    width: 100%;
}
#individualClocks{
    padding-top: 5%;
    color: #ffffff;
}
#redColor, #greenColor{
    width: 30px;
    height: 30px;
    margin-top: 18%;
    margin-right: 10px;
}
#redColor{
    background-color: #cc3535;
}
#greenColor{
    background-color: #35cc3f;
}
.d-inline{
    display: inline-flex;
}
#redColorBox{
    padding-right: 10px;

}